.carousel-item-content {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1.5rem;
  text-align: left;
}

.carousel-item-content h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Define aquí los colores que quieras para cada slide */
.carousel-item-1 {
  background-color: #3F88C5; /* azul claro */
}

.carousel-item-2 {
  background-color: #3F88C5; /* gris oscuro */
}

.carousel-item-3 {
  background-color: #3F88C5; /* verde */
}

.carousel-item-4 {
  background-color: #3F88C5; /* rojo */
}

.carousel-item-content ul {
  list-style-type: disc;
  padding-left: 1.2rem;
  margin: 0;
}

.carousel-item-content li {
    color: #F4D35E;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

/* Opcional: estilos para los botones de navegación para que combinen */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}
